.fondo{
    --background: #d0e3b6;
    background-color: #e7eedd ;
}

.fondo-tool{
    --background: transparent;
    background-color: #aed87e;
}

.lista{
    color: #252525;
}

.card-content{
    color: #252525;
}