<ion-content >
  <div class="cuadro-log">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/codeless-app.appspot.com/o/projects%2F5BCVwNALUN8FL2mArSiv%2F92580e4006361298f0b997a584d22393?alt=media&amp;token=5973461e-a2d1-4cf6-b9f9-ce16e610cfaa"
      class="elipse-1"
    />
    <div class="saludo">
      <h1>
        ¡Hola!<span>Ingresa para comenzar a cuidar tus plantas. </span>
      </h1>
    </div>
  </div>
  <div class="sign">
    <ion-button [routerLink]="['/dashboard']" onclick="firebase()" expand="block">Ingresar</ion-button>
  </div>
</ion-content>
