.fondo{
  --background: #ffff;
}

.agua-off {
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;
  --background: #252525;
}
.agua-off > div > p {
  position: relative;
  text-align: right;
  font-size: 18px;
  left: auto;
  padding-bottom: 5%;
  padding-top: 5%;

  margin-top: auto;
  display: flex;
  position: relative;
}
.agua-on > div > p {
  position: absolute;
  text-align: right;
  font-size: 18px;
  left: auto;
  padding-bottom: 5%;
  padding-top: 5%;

  margin-top: auto;
  display: flex;
  position: relative;
}

.agua-on {
  position: relative;
  width: 100%;
  height: 100%;

  --background: #0d77e0;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  color: #fff;
}

.programable {
  display: flex;
  margin-left: 2%;
  height: 100%;
  --background: #ffe202fd;
  color: #252525;
}

.agua-boton {
  position: fixed;
  left: 8%;
  right: 25%;
  height: 100%;
}

.luz-artificial {
  position: absolute;
  left: 5%;
}

.encendido-agua {
  position: absolute;
  left: 15%;
  right: 150%;
  height: 15%;
  bottom: 8.33%;
  color: #ffff;
  text-transform: none;
  font-size: small;
}

.apagado-agua {
  position: absolute;
  left: 15%;
  right: 300%;
  height: 15%;
  bottom: 8.5%;

  color: #ffffff;
  text-transform: none;
  font-size: small;
}

.top-30 {
  position: absolute;
  width: 315%;
  height: 68%;
  right: 10%;
  left: 1%;
  top: 350%;

  background: #6ca0ff;
  border-radius: 24%;
  color: white;
}

.gota {
  position: fixed;
  left: 25%;
  right: 25%;
  height: 40%;
  top: 8.33%;
  bottom: 8.33%;
}

.Riego-Agua {
  position: absolute;
  left: -10%;
  right: 35%;
  height: 45%;
  bottom: 8.33%;
}

.Regar {
  position: absolute;
  left: -130%;
  right: 0%;
  height: 15%;
  bottom: 8.33%;
  color: #001d4b;
}

.next {
  position: absolute;
  left: 40%;
  bottom: 23%;
  right: 70%;
}

.PRENDIDO {
  display: flex;
  color: #04db1d;
  margin-top: 55%;
}

.Solar {
  --w: 130px;

  top: 59px;
  left: 20px;
  width: var(--w);
  aspect-ratio: 1;
  position: absolute;
  display: inline-grid;
  place-content: center;
  margin: 50px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.Solar:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}

.luz-solar {
  position: absolute;
  left: 40%;
  top: 27%;
}


ion-fab-button::part(native) {
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: black;
}

ion-fab-button::part(native):hover::after {
  background-color: #a3e681;
}

ion-fab-button::part(native):active::after {
  background-color: #87d361;
}

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

.counter {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.counter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.counter-row {
  display: flex;
  flex-direction: row;
}

.counter-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.counter-value {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.counter-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #00000089;
}

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-card {
  --background: white;
  --color: black;
}

.Soleado {
  text-align: center;
}

ion-header {
  --background: white;
}

ion-content {
  --background: white;
}

ion-toolbar {
  --background: white;
  --color: black;
}

ion-card-title {
  --color: rgba(0, 0, 0, 0.715);
}


.card-content{
  color: #252525;
}